#####################
# non-project files #
#####################

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings.user
nuget

###############
# local env   #
###############

.env
.env.*
!.env.example

#######################
# benchmark artifacts #
#######################

artifacts/benchmarks/
artifacts/arr-validation/

##############
# IDE config #
##############

.idea/
.vscode/
